<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>xx -注册3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/app/css/register.css}"/>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/app/css/register3.css}"/>
	<script type="text/javascript" th:src="@{/app/js/register3.js}"></script>
</head>
<body>
	<div class="register-top">
		
	</div>
	<div class="register-mid">
		<div class="register3-mid">
			<div class="top">
				<div class="top1"><div class="yuanquan_no">1</div><div class="font_no">验证邮箱</div></div>				 			
				<div class="top2">>>>>>></div>				
				<div class="top3"><div class="yuanquan_no">2</div><div class="font_no">填写账号信息</div></div>				
				<div class="top2">>>>>>></div>				
				<div class="top4"><div class="yuanquan_ok">3</div><div class="font_ok">注册成功</div></div>				
			</div>
			<div class="mid">
				<a href="" id="jump">5秒后跳转主页，或直接点击此处跳转</a>
			</div>		
		</div>
	</div>
</body>
</html>